## Week 7: Normalizing Datasets with Pandas

In [1]:
import pandas as pd

_First, we will import our dataset from our rates.csv file._

In [2]:
df = pd.read_csv('rates.csv')

In [3]:
df_regular = df

In [4]:
df_regular

,The Invisible Man,Yellow Rose,Bloodshot,Unhinged,Ava,The Devil All the Time
Lesley,6,5,2,5,2,6
Henry,2,1,1,2,4,3
Maria,10,3,1,0,9,9
Anthony,3,9,7,1,9,0
Kim,7,2,3,3,3,1

_In our unmodified dataset, we will add a column and row for averages (for users and movies, respectively)._

In [5]:
df_regular.loc['AVG (B)'] = df_regular[['The Invisible Man', 'Yellow Rose', 'Bloodshot', 'Unhinged', 'Ava', 'The Devil All the Time']].mean()

In [6]:
df_regular['AVG (A)'] = df_regular.mean(axis=1)

In [7]:
df_regular

,The Invisible Man,Yellow Rose,Bloodshot,Unhinged,Ava,The Devil All the Time,AVG (A)
Lesley,6.0,5.0,2.0,5.0,2.0,6.0,4.333333
Henry,2.0,1.0,1.0,2.0,4.0,3.0,2.166667
Maria,10.0,3.0,1.0,0.0,9.0,9.0,5.333333
Anthony,3.0,9.0,7.0,1.0,9.0,0.0,4.833333
Kim,7.0,2.0,3.0,3.0,3.0,1.0,3.166667
AVG (B),5.6,4.0,2.8,2.2,5.4,3.8,3.966667

_Next, we will normalize our dataset using built in Pandas tools._

In [16]:
df_normalized = (df - df.mean()) / (df.max() - df.min())

In [18]:
df_normalized.loc['AVG (B)'] = df_normalized[['The Invisible Man', 'Yellow Rose', 'Bloodshot', 'Unhinged', 'Ava', 'The Devil All the Time']].mean()

In [20]:
df_normalized['AVG (A)'] = df_normalized.mean(axis=1)

In [21]:
df_normalized

,The Invisible Man,Yellow Rose,Bloodshot,Unhinged,Ava,The Devil All the Time,AVG (A)
Lesley,5.000000e-02,0.125,-1.333333e-01,5.600000e-01,-4.857143e-01,2.444444e-01,6.802661e-02
Henry,-4.500000e-01,-0.375,-3.000000e-01,-4.000000e-02,-2.000000e-01,-8.888889e-02,-2.889014e-01
Maria,5.500000e-01,-0.125,-3.000000e-01,-4.400000e-01,5.142857e-01,5.777778e-01,1.726632e-01
Anthony,-3.250000e-01,0.625,7.000000e-01,-2.400000e-01,5.142857e-01,-4.222222e-01,1.608211e-01
Kim,1.750000e-01,-0.250,3.333333e-02,1.600000e-01,-3.428571e-01,-3.111111e-01,-1.126095e-01
AVG (B),-7.401487e-17,0.000,-7.362937e-17,6.568820e-17,6.740640e-17,-4.523131e-17,-9.963493e-18

## Conclusion

_Based on the data shown above, I've conlcuded that normalizing our movie ratings creates a difficult to understand rating pattern._
_For humans, normalized ratings are really strange. They involve decimals and negative and positive numbers, which can be difficult to follow._
_This is an obvious disadvantage, if you intend on using normalized ratings for human interpretation / understanding._
_If a computer / program is expected to process this information, then using a normalized dataset would be useful._
_There are obvious thresholds, such as the degree to which a rating is negative versus positive, which are useful to machines._
_This is an advantage if your intention is to build an AI for movie recommendations / suggestions._
_Actual ratings are great for humans, because we have intuitive scaling schemes in our heads._
_For example, if someone provides a rate of 8, then we assume that this is on a scale of 1 to 10. On the_
_the other hand, if someone provides a rate of 55, then we would assume this is on a scale of 1 to 100._
_By normalizing, you can avoid this potential confusion. Your new scale would be based on a ratio involving_
_the minimum and maximum values of the dataset (ratings)._